{% extends  "base.html" %}

{% block title %} Books list {% endblock title %}

{% block content %}

<h2>Books list:</h2>
<div>
    {{book.title}}
    <ul>
        {% for book in books %}
        {% if book.author_id_id == author.id %}
        <il>
        <h2>{{ book.title }}</h2>
        <h4>Released year: {{ book.released_year }}</h4>
                <a href="{% url 'book' book.id %}" class="btn btn-primary">Book detail</a>

            </il>
        {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}" class="btn btn-primary">Home</a>

</div>


{% endblock content %}
