{% extends  "base.html" %}

{% block title %} Home {% endblock title %}


{% block content %}

<h2>Books:</h2>
<div class="row">
        {% for book in books %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text"> {{ book.description|truncatechars_html:100 }} </p>
        <a href="{% url 'book' book.id %}" class="btn btn-primary">Book detail</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}